interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.search.brave.com/res/v1/web/search?q=pydantic+ai+framework&count=2
  response:
    headers:
      content-type:
      - application/json
    parsed_body:
      mixed:
        main:
        - all: false
          index: 0
          type: web
        - all: false
          index: 1
          type: web
        - all: true
          type: videos
        - all: false
          index: 2
          type: web
        - all: false
          index: 3
          type: web
        - all: false
          index: 4
          type: web
        - all: false
          index: 5
          type: web
        - all: false
          index: 6
          type: web
        - all: false
          index: 7
          type: web
        - all: false
          index: 8
          type: web
        - all: false
          index: 9
          type: web
        - all: false
          index: 10
          type: web
        - all: false
          index: 11
          type: web
        - all: false
          index: 12
          type: web
        - all: false
          index: 13
          type: web
        - all: false
          index: 14
          type: web
        - all: false
          index: 15
          type: web
        - all: false
          index: 16
          type: web
        side: []
        top: []
        type: mixed
      query:
        bad_results: false
        city: ''
        country: us
        header_country: ''
        is_navigational: true
        is_news_breaking: false
        more_results_available: true
        original: pydantic ai framework
        postal_code: ''
        should_fallback: false
        show_strict_warning: false
        spellcheck_off: true
        state: ''
      type: search
      videos:
        mutated_by_goggles: false
        results:
        - description: Enjoy the videos and music you love, upload original content, and share it all with friends, family,
            and the world on YouTube.
          fetched_content_timestamp: 1770940004
          meta_url:
            favicon: https://imgs.search.brave.com/Wg4wjE5SHAargkzePU3eSLmWgVz84BEZk1SjSglJK_U/rs:fit:32:32:1:0/g:ce/aHR0cDovL2Zhdmlj/b25zLnNlYXJjaC5i/cmF2ZS5jb20vaWNv/bnMvOTkyZTZiMWU3/YzU3Nzc5YjExYzUy/N2VhZTIxOWNlYjM5/ZGVjN2MyZDY4Nzdh/ZDYzMTYxNmI5N2Rk/Y2Q3N2FkNy93d3cu/eW91dHViZS5jb20v
            hostname: www.youtube.com
            netloc: youtube.com
            path: › watch
            scheme: https
          thumbnail:
            original: https://i.ytimg.com/vi/YKRqnWLZbpU/hqdefault.jpg
            src: https://imgs.search.brave.com/F2JMgOgjoFVPSVgxmei1MPJX_6-uA6ekDvTI3YclOv8/rs:fit:200:200:1:0/g:ce/aHR0cHM6Ly9pLnl0/aW1nLmNvbS92aS9Z/S1JxbldMWmJwVS9o/cWRlZmF1bHQuanBn
          title: 'PydanticAI Tutorial: The AI Agent Tool That Will Blow Your Mind'
          type: video_result
          url: https://www.youtube.com/watch?v=YKRqnWLZbpU
          video: {}
        - age: August 29, 2025
          description: Check out https://www.squarespace.com/arjancodes to save 10% off your first purchase of a website or
            domain using code ARJANCODES.Pydantic AI lets you integr
          fetched_content_timestamp: 1771062792
          meta_url:
            favicon: https://imgs.search.brave.com/Wg4wjE5SHAargkzePU3eSLmWgVz84BEZk1SjSglJK_U/rs:fit:32:32:1:0/g:ce/aHR0cDovL2Zhdmlj/b25zLnNlYXJjaC5i/cmF2ZS5jb20vaWNv/bnMvOTkyZTZiMWU3/YzU3Nzc5YjExYzUy/N2VhZTIxOWNlYjM5/ZGVjN2MyZDY4Nzdh/ZDYzMTYxNmI5N2Rk/Y2Q3N2FkNy93d3cu/eW91dHViZS5jb20v
            hostname: www.youtube.com
            netloc: youtube.com
            path: › watch
            scheme: https
          page_age: '2025-08-29T15:00:00'
          thumbnail:
            original: https://i.ytimg.com/vi/-WB0T0XmDrY/maxresdefault.jpg
            src: https://imgs.search.brave.com/5oALDE0gSqNfC0KyAnbqILLgpAze9bkK6z4LYJHt6Kw/rs:fit:200:200:1:0/g:ce/aHR0cHM6Ly9pLnl0/aW1nLmNvbS92aS8t/V0IwVDBYbURyWS9t/YXhyZXNkZWZhdWx0/LmpwZw
          title: Build Production-Ready AI Agents in Python with Pydantic AI - YouTube
          type: video_result
          url: https://www.youtube.com/watch?v=-WB0T0XmDrY&vl=en-US
          video:
            creator: ArjanCodes
            duration: '15:50'
            publisher: YouTube
        - description: Enjoy the videos and music you love, upload original content, and share it all with friends, family,
            and the world on YouTube.
          fetched_content_timestamp: 1770940004
          meta_url:
            favicon: https://imgs.search.brave.com/Wg4wjE5SHAargkzePU3eSLmWgVz84BEZk1SjSglJK_U/rs:fit:32:32:1:0/g:ce/aHR0cDovL2Zhdmlj/b25zLnNlYXJjaC5i/cmF2ZS5jb20vaWNv/bnMvOTkyZTZiMWU3/YzU3Nzc5YjExYzUy/N2VhZTIxOWNlYjM5/ZGVjN2MyZDY4Nzdh/ZDYzMTYxNmI5N2Rk/Y2Q3N2Fk[...]
